<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722842502606-htner42pn9c6p12tftq3u7vi9nijfk7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722842502606-htner42pn9c6p12tftq3u7vi9nijfk7f</string>
	<key>API_KEY</key>
	<string>AIzaSyBvFmEVLE4xUmFFqJ2UbO80tq6M9lQdGQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>722842502606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.happssolutions.meducate</string>
	<key>PROJECT_ID</key>
	<string>meducate-56c60</string>
	<key>STORAGE_BUCKET</key>
	<string>meducate-56c60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722842502606:ios:22b7d4c48fdc63e983179f</string>
	<key>DATABASE_URL</key>
	<string>https://meducate-56c60.firebaseio.com</string>
</dict>
</plist>